* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border-radius: 4px;
    background: rgb(25, 175, 75);
}

.status-not-interviewed {
    background: rgb(98, 95, 128);
    margin-top: 10px;
}

.status-interviewed {
    background: red;
    margin-top: 10px;
}